assets/gallery/originals/** filter=lfs diff=lfs merge=lfs -text
assets/client-2026-10-02/** filter=lfs diff=lfs merge=lfs -text
public/media/** filter=lfs diff=lfs merge=lfs -text
reports/*.png filter=lfs diff=lfs merge=lfs -text
.transfer/**/*.tar.gz filter=lfs diff=lfs merge=lfs -text
.transfer/**/*.sqlite filter=lfs diff=lfs merge=lfs -text
.transfer/*.sqlite filter=lfs diff=lfs merge=lfs -text
.transfer/media-parts/** filter=lfs diff=lfs merge=lfs -text
.data/**/*.sqlite filter=lfs diff=lfs merge=lfs -text
.data/*.sqlite filter=lfs diff=lfs merge=lfs -text
